# there is only one editorconfig for our project so it is automatically the root config
root = true

[*]
# the charset helps with guaranteeing that all chars are encoded in the same way
charset = utf-8

# we solely use spaces for our formatting, so the indent needs to be fixed as well
indent_size = 4
tab_width = 4
ij_continuation_indent_size = 8
indent_style = space
ij_smart_tabs = false

# provide the visual guide and hard wrap, so we don't write overly long lines (but don't wrap automatically
ij_visual_guides = 100
max_line_length = 120
ij_wrap_on_typing = false

# the final newline helps with old/unix tools so that they can properly print files
insert_final_newline = true

# trailing whitespaces serve absolutely no value, so we can trim them away
trim_trailing_whitespace = true

# we do not use the formatter tag at all, since all files need to be compliant
ij_formatter_tags_enabled = false
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on

[.editorconfig]
# spaces after the comma are in line with our other codestyle and increase the readability
ij_editorconfig_space_after_comma = true
ij_editorconfig_space_before_comma = false

# colons are used as regular characters, so we use no spaces at all
ij_editorconfig_space_before_colon = false
ij_editorconfig_space_after_colon = false

# spaces around the assignment operator increase the readability
ij_editorconfig_spaces_around_assignment_operators = true

# since there are some very long keys, this is detrimental to the readability
ij_editorconfig_align_group_field_declarations = false

[{*.yml,*.yaml}]
# yaml structures can get nested very easily, so we reduce the indent to compensate for that
indent_size = 2
tab_width = 2

# some keys can get very long, so we don't want to align all of them together
ij_yaml_align_values_properties = do_not_align

# the indents for empty lines serve absolutely no value, so we remove them
ij_yaml_block_mapping_on_new_line = false
ij_yaml_keep_indents_on_empty_lines = false

# sequence values are already kind of indented because of the hyphen, so we don't indent additionally
ij_yaml_autoinsert_sequence_marker = true
ij_yaml_indent_sequence_value = false

# yaml files are used as configuration so line breaks are crucial for the readability
ij_yaml_keep_line_breaks = true
ij_yaml_sequence_on_new_line = false

# we don't need spaces before colons
ij_yaml_space_before_colon = false

# we don't need any spaces within brackets or braces as this is the compressed representation
ij_yaml_spaces_within_braces = false
ij_yaml_spaces_within_brackets = false

[*.md]
# we want spaces after syntactical elements so we enforce them
ij_markdown_force_one_space_after_blockquote_symbol = true
ij_markdown_force_one_space_after_header_symbol = true
ij_markdown_force_one_space_after_list_bullet = true
ij_markdown_force_one_space_between_words = true

# indents on empty lines serve no real purpose and can therefore be trimmed away
ij_markdown_keep_indents_on_empty_lines = false

# paragraphs have exactly one
ij_markdown_max_lines_between_paragraphs = 1
ij_markdown_min_lines_between_paragraphs = 1

# block elements have exactly one newline around them to increase the readability
ij_markdown_min_lines_around_block_elements = 1
ij_markdown_max_lines_around_block_elements = 1

# headers have exactly one newline around them to increase the readability
ij_markdown_min_lines_around_header = 1
ij_markdown_max_lines_around_header = 1

[{Makefile,go.mod,go.sum,*.go,.gitmodules}]
# gofmt uses tabs so we are required to use them
indent_style = tab
