debug = false

[cache]
variant = "memory"
expiry_uuid = 7200 # 120 minutes
expiry_uuid_missing = 300 # 5 minutes
expiry_profile = 600 # 10 minutes
expiry_profile_missing = 300 # 5 minutes
expiry_skin = 600 # 10 minutes
expiry_skin_missing = 300 # 5 minutes
expiry_head = 600 # 10 minutes
expiry_head_missing = 300 # 5 minutes

[cache.redis]
address = "redis://username:password@example.com/0"
ttl = 86400

[sentry]
enabled = false
address = "https://key@sentry.io/42"
environment = "staging"

[http_server]
rest_gateway = false
address = "0.0.0.0:9990"

[metrics]
enabled = false
auth_enabled = false
username = "username"
password = "password"

[grpc_server]
enabled = true
address = "0.0.0.0:50051"
